* {
    margin: 0;
    padding: 0;
}

html {
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
}

p {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 60px;
}

.info {
    text-align: center;
}

.mailButton {
    text-decoration: none;
    color: white;
    background: #0C57FB;
    padding: 15px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    box-shadow: 0 10px 20px rgba(44, 44, 44, .2);
    border-radius: 5px;
    transition: all .1s linear;
}

.mailButton:hover {
    background: rgb(11, 79, 226);
    box-shadow: 0 0px 0px rgba(44, 44, 44, .2);
}

.mailButton:active {
    background: rgb(10, 73, 209);
}